.container {
	background-image: url(../images/halftone-yellow.png);
}

.instructions {
	background-color: white;
	padding: 20px;
	width: 450px;

}

.computerpick {
	background-color: teal;
	padding: 10px;
	width: 450px;
}

.Wins-Losses {
	margin-top: 20px;
	width: 450px;
	background-color: orange;
	padding: 10px;
}

#crystals img {
	margin: 20px 8px;
	height: 90px;
	width: 90px;
}

.user-words,.User-Number {
	margin-top: 20px;
	background-color: orange;
	width: 450px;
	padding: 10px;
}

.User-Number {
	height: 150px;
	margin-bottom: 50px;
	padding: 10px;
	width: 450px;
}