h1 {
	font-family: 'Rammetto One', cursive;
	background-color: white;
	border: 4px solid #4CC5F0;
	font-weight: bold;
	color: #4CC5F0;
	text-align: center;
	padding: 2%;
	margin-top: 0;
	margin-bottom: 2%;
}

.jumbotron {
	padding: 2% 5%;
	margin: 0;
	height: 100%;
	background-image: url(../images/pexels-photo-370799.jpeg);	
}

.instructions {
	font-family: 'Raleway', sans-serif;
	background-color: #5D64AA;
	color: white;
	padding: 2%;
}

.other {
	font-family: 'Raleway', sans-serif;
	color: white;
}

.computernumber {
	font-weight: bold;
	background-color: #5D64AA;
	margin: 2%;
	padding: 2%;

}

.Wins-Losses {
	background-color: #5D64AA;
	margin: 2%;
	padding: 2%;
}

#crystals img {
	border: 4px solid #4CC5F0;
	margin: 2% 3%;
	height: 19%;
	width: 19%;
}

.usertotal {
	font-weight: bold;
	background-color: #5D64AA;
	margin: 2%;
	padding: 2%;
}

.User-Number {
	background-color: #5D64AA;
	margin: 2%;
	/*margin-bottom: 50px;*/
	padding: 2%;
	/*width: 450px;*/
}

.status {
	font-family: 'Rammetto One', cursive;
	font-size: 1.25rem;
	color: white;
}